@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap');
*{
    font-family: "Darker Grotesque", "sans serif";
    margin: 0;
}
.container{
    min-height: 14em;
}
.textbox{
    position: absolute;
    width: 50em;
    height: 3em;
    left: 25.5em;
    top: 10.3em;
    border: 0.1em solid #333333;
    box-sizing: border-box;
}
.containerlobos{
    position: absolute;
    width: 8.125em;
    height: 2.9375em;
    left: 77em;
    top: 10.3em;
    background: #DEB959;
}
.containerlobos .maislobo{
    position: absolute;
    width: 5.5em;
    height: 2.3em;
    top: -0.6em;
    left: 0.2em;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.marker{
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    left: 25.5em;
    top: 14.625em;
    background: #FAFAFA;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 5px;
}
.verlobinhos{
    position: absolute;
    width: 12.5em;
    left: 1em;
    

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 15px;
    /* identical to box height */

    display: flex;

    color: #353535;
}